*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* spazio righe */
.riga{
    width: 670px;
    margin: 15px auto;
}

.riga.sopra{
    background-color: red;
}

.riga.sotto{
    background-color: green;
}
/* fine spazio righe */

.prodotto,.immagine,.testo{
    width: 220px;
}

/* spazio prodotto */
.prodotto{
    display: inline-block;
    background-color: blue;
}
/* fine spazio prodotto */

.prodotto,.immagine,.testo{
    width: 220px;
}

/* spazio immagine*/
.immagine{
    background-color: yellow;
}

.immagine img{
    width: 220px;
    object-fit
}
/* fine spazio immagine*/

/* spazio testo*/
.testo{
    background-color: violet;
}

.marca{
    font-size: 12px;
}

.nome{
    text-transform:uppercase;
    font-weight: bold;
}

.prezzo,.sconto{
    display: inline-block;
}

.prezzo{
    color: red;
}

.sconto{
    text-decoration: line-through;
}