*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.riga{
    height: 340px;
    width: 610px;
    margin: 15px auto;
}

.riga.sopra{
    background-color: red;
}

.riga.sotto{
    background-color: green;
}

.prodotto{
    display: inline-block;
    height: 340px;
    width: 200px;
    background-color: blue;
}