*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* spazio righe */
.riga{
    width: 670px;
    margin: 15px auto;
}

.riga.sopra{
    background-color: red;
}

.riga.sotto{
    background-color: green;
}
/* fine spazio righe */

.prodotto,.immagine,.testo{
    width: 220px;
}

/* spazio prodotto */
.prodotto{
    display: inline-block;
    background-color: blue;
}
/* fine spazio prodotto */

.prodotto,.immagine,.testo{
    width: 220px;
}

/* spazio immagine*/
.immagine{
    background-color: yellow;
    position: relative;
}

.immagine img{
    width: 220px;
}
/* fine spazio immagine*/

/* spazio testo*/
.testo{
    background-color: violet;
}

.marca{
    font-size: 12px;
}

.nome{
    text-transform:uppercase;
    font-weight: bold;
}

.prezzo,.sconto{
    display: inline-block;
}

.prezzo{
    color: red;
}

.sconto{
    text-decoration: line-through;
}
/*fine spazio testo*/

/* creazione e posizionamento dei tag */
.tag{
    color: white;

    position: absolute;
    line-height: 30px;
    text-align: center;
}

.rosso{
    width: 50px;
    background-color: rgb(238, 71, 71);

    bottom: 20px;
}

.verde{
    width: 100px;
    background-color: rgb(101, 173, 101);

    bottom: 20px;
}

.rosso ~ .verde{
    left: 55px;
}

.cuore{
    width: 30px;
    font-size: 20px;
    color: black;
    background-color: white;

    top: 30px;
    right: 0;
}

